* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}


body {
    background-color: #004242;
}
.docWide {
    width: 100%;
}
.titleBg {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(66, 179, 179, 0.575);
    border-radius: 25px;
}